@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  background-color: #f3f3f3;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif !important;
}
